.background {
    min-height: 100vh;
    display: flex;
    /* border: 10px solid green; */
    background-image: url("../public/background.png");
    background-size: cover;
    background-position: center;
}
